@charset "utf-8";
.intro_text_box {padding:32px; border:1px solid #e4e8f2; border-radius:24px; background:#fafbff;}
.intro_text {color:var(--col_body); font-size:17px; line-height:1.9; word-break:keep-all;}
.intro_text strong {color:var(--col_darkblue); font-weight:700; display: block;}
.intro_text .date {display: inline-flex; align-items: center; border-radius: 9999px; padding: 4px 16px; background-color: var(--col_border); margin-top:24px; color:var(--col_h); font-size:15px;}
.button_area {margin-top:40px;display:flex; align-items:center; justify-content:center;}
.btn_submit {display:flex; align-items:center; justify-content:center; text-decoration:none;}